<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image Website</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('https://drive.google.com/uc?export=download&id=1dMBl7-7zZxquGQ5XQr6GEmThkzwZi8WO');
            background-size: 5 0% 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>

<body>
</body>

</html>