<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="list-group-item"><a href="/profile">Profile</a></li>
                    <li class="list-group-item"><a href="/resume-enhancer">ResumeTuner</a></li>
                    <li class="list-group-item"><a href="/cover-letter-generator">CoverME</a></li>
                    <li class="list-group-item"><a href="/interview-prep">interviewPRO</a></li>
                    <li class="list-group-item"><a href="/careerclick">CoverME PRO</a></li>
                    <li class="list-group-item"><a href="/logout">Logout</a></li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>