<!DOCTYPE html>
<html>

<head>
    <title>Checkout canceled</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        button .material-symbols-outlined {
            position: relative;
            top: 5px;
            /* Adjust the top position as needed */
        }

        button .btn-secondary {
            position: relative;
            top: -20px;
            /* Adjust the top position as needed */
        }
    </style>
</head>

<body>
    <section>
        <p>Picked the wrong subscription? Shop around then come back to pay!</p>
    </section>
    <div class="text-left mt-3">
        <button type="button" class="btn-lg btn-success"><a href="/dashboard"
                style="color: white; cursor: pointer;"><span class="material-symbols-outlined">
                    login
                </span> Back to myCAREERMAX</a></button>
    </div>
</body>

</html>