<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <title>AI Cover Letter | myCareerMax</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2305706078196748"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Only one jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: 'Prompt', sans-serif;
            /* Add this line */
            background-color: #ffffff;
            color: #000000;
            margin: 0;
            padding: 0;
        }


        .navbar {
            background-image: linear-gradient(120deg, #ffffff, #4a83ff);
            background-size: cover;
            background-attachment: fixed;
        }


        nav {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        nav li {
            margin: 0 15px;
        }

        nav a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }

        .form-control {
            border-radius: 10px;
            border: 1px solid #007BFF;
        }
    </style>
</head>

<body>
    <input type="hidden" id="userId" value="{{ user_id }}">

    <script defer>

        $(document).ready(function () {
            console.log("Fetching username...");
            $.get("/get-username", function (response) {
                console.log("Username response:", response);
                if (response.success) {
                    const usernamePlaceholder = document.getElementById("username-placeholder");
                    usernamePlaceholder.textContent = "Hello, " + response.username;
                } else {
                    console.error('Error fetching username:', response.error);
                }
            });

        });
    </script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.mycareermax.com" style="color: #003c86;">myCareerMax.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/careerclick" style="color: #003c86;">AI Job Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cover-letter-generator" style="color: #003c86;">AI Cover Letter</a>
                </li>
                <!-- Dropdown Menu for AI Resume Tools -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="resumeDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #003c86;">
                        AI Resume Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="resumeDropdown">
                        <a class="dropdown-item" href="/resume-enhancer" style="color: #003c86;">Resume Scanner</a>
                        <a class="dropdown-item" href="/ai-builder" style="color: #003c86;">AI Resume Builder</a>
                    </div>
                </li>
                <!-- End of Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="/interview-prep" style="color: #003c86;">Interview Prep</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" style="color: #003c86;">myDashboard</a>
                </li>
                <!-- Existing dropdown for the username -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #003c86;">
                        <span id="username-placeholder">Login Here</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dashboard#my-docs" style="color: #003c86;">My AI Docs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/login" style="color: #00b018;">Login</a>
                        <a class="dropdown-item" href="/logout" style="color: #ff0000;">Logout</a>
                    </div>
                </li>
                <!-- End of Dropdown for username -->
            </ul>
        </div>
    </nav>

    <div style="text-align:center;">
        <img src="{{ url_for('static', filename='images/aicoverletter.png') }}" alt="Your Logo"
            style="max-width:100%;" />
    </div>


    <div class="d-none" id="loading-spinner"
        style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- START OF Collapsible Cover Letter Generator Intro -->
    <div class="text-center">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#coverLetterIntro"
            aria-expanded="false" aria-controls="coverLetterIntro">
            👉 Click here to learn about our AI-Powered Cover Letter Generator!
        </button>

        <div class="collapse" id="coverLetterIntro">
            <div class="card card-body" style="max-width: 834px; margin: auto;">
                <h3 class="text-center">Welcome to Your AI-Powered Cover Letter Generator!</h3>
                <p class="text-left">Looking to make a memorable impression on your next job application? You're in the
                    right place! Our state-of-the-art tool employs advanced Artificial Intelligence to create
                    personalized,
                    standout cover letters.</p>

                <h4 class="text-center">How It Works</h4>
                <div class="text-left">
                    <p>It's simple and intuitive:</p>
                    <ol>
                        <li>Upload your resume.</li>
                        <li>Enter the company name, job title, and job description for the role you're targeting.</li>
                        <li>Optionally, highlight specific areas of your resume you'd like to focus on.</li>
                    </ol>
                    <p>In just a few moments, you'll have a cover letter finely tuned to your background and the job
                        you're
                        applying for.</p>
                </div>

                <h4 class="text-center">Why Use This Tool?</h4>
                <div class="text-left">
                    <ul>
                        <li>Say goodbye to one-size-fits-all cover letters.</li>
                        <li>Say hello to a personalized, impactful application.</li>
                    </ul>
                </div>

                <p class="text-left">Start your journey to a standout job application now!</p>
            </div>
        </div>
    </div>

    <!-- END OF Collapsible Cover Letter Generator Intro -->

    <div class="center-content">
        <p> </p>
        <p> </p>
        <!-- FORM FIELDS -->
        <div class="container-fluid">
            <!-- File upload section -->
            <form enctype="multipart/form-data" id="resume-upload-form">
                <div class="mt-3">
                    <label for="resume-upload">Upload your resume (.docx format):</label>
                    <input accept=".docx" id="resume-upload" type="file" />
                    <!-- Manual text entry section -->
                    <div><label for="resume">Or manually paste/type your resume:</label></div>
                    <textarea class="form-control" id="resume" rows="10"></textarea>
                </div>
                <div class="mt-3">
                    <div class="mt-3">
                        <label for="job-description">Job Description:</label>
                        <textarea class="form-control" id="job-description" name="job-description"></textarea>
                    </div>
                    <div class="mt-3">
                        <label for="job-title">Job Title:</label>
                        <textarea class="form-control" id="job-title" name="job-title"></textarea>
                    </div>
                    <div class="mt-3">
                        <label for="company-name">Company Name:</label>
                        <textarea class="form-control" id="company-name" name="company-name" type="text"></textarea>
                    </div>
                    <div class="mt-3">
                        <label for="focus-areas">Focus Areas:</label>
                        <textarea class="form-control" id="focus-areas" name="focus-areas" type="text"></textarea>
                    </div>
                    <div class="mt-3 button-container">
                        <button class="btn btn-primary" id="btn-coverme">✨Generate AI Cover Letter✨</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Buttons and Output section -->
        <div id="output-section" style="display:none;">
            <!--  Cover Letter Output Textarea Section-->
            <div class="mt-3">
                <label for="output-text">Generated Cover Letter:</label>
                <textarea class="form-control" id="output-text" readonly="" rows="10"></textarea>
            </div>
            <!-- Copy to Clipboard and Download as Text section -->
            <div class="mt-3 button-container">
                <button class="btn btn-info mb-2" id="btn-copy">📋 Copy to Clipboard</button>
                <button class="btn btn-success mb-2" id="btn-download-txt">⬇️ Download (.TXT)</button>
                <button onclick="saveCoverLetter()" class="btn btn-primary mb-2" id="save-button">💾 Save to Dashboard
                    (.DOCX & .PDF)</button>
            </div>
        </div>


        <script>


            $(document).ready(function () {
                $("#btn-coverme").click(function (event) {
                    // Prevent the form from being submitted in the default way
                    event.preventDefault();

                    // Show the loading spinner
                    $("#loading-spinner").removeClass("d-none");

                    var resume = $("#resume").val();
                    var jobDescription = $("#job-description").val();
                    var jobTitle = $("#job-title").val();
                    var companyName = $("#company-name").val();
                    var focusAreas = $("#focus-areas").val();

                    $.post("/generate-cover-letter", {
                        resume: resume,
                        job_description: jobDescription,
                        job_title: jobTitle,
                        company_name: companyName,
                        focus_areas: focusAreas
                    }, function (data) {
                        // Display the server's response (the generated cover letter) in the output text area
                        $("#output-text").val(data.cover_letter);

                        // Show the entire output section including "Copy to Clipboard", "Download as Text", and "Save to Dashboard" buttons
                        $("#output-section").show();

                        // Hide the loading spinner
                        $("#loading-spinner").addClass("d-none");
                    });
                });
            });


            // Event listener for file upload
            $("#resume-upload").change(function () {
                var form_data = new FormData();
                var file_data = $("#resume-upload")[0].files[0];
                form_data.append("file", file_data);

                $.ajax({
                    type: "POST",
                    url: "/upload-docx",
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        // Check if data is a string (error message) or an object (JSON response)
                        if (typeof data === 'string') {
                            // Display error message in the console
                            console.error(data);
                            // Show the error message to the user (You can use an alert or other UI element)
                            alert(data);
                        } else {
                            // Data is an object (JSON response) with a 'content' property
                            console.log(data.content);
                            // Set the content in the existing text area (resume)
                            $("#resume").val(data.content);
                            // Show the existing text area
                            $("#resume").show();
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        console.error("Error while uploading the file:", error);
                        alert("An error occurred while uploading the file. Please try again later.");
                    }
                });
            });


            // Event listener for the "Copy to Clipboard" button
            $("#btn-copy").click(function () {
                // Get the content of the output textarea
                var outputContent = $("#output-text").val();

                // Copy the content to the clipboard
                navigator.clipboard.writeText(outputContent)
                    .then(function () {
                        alert("Content copied to clipboard!");
                    })
                    .catch(function () {
                        alert("Failed to copy content to clipboard. Please try again.");
                    });
            });

            // Event listener for the "Download as Text" button
            $("#btn-download-txt").click(function () {
                // Get the content of the output textarea
                var outputContent = $("#output-text").val();

                // Create a blob with the content
                var blob = new Blob([outputContent], { type: "text/plain" });

                // Save the blob as a text file using FileSaver.js
                saveAs(blob, "formatted_resume.txt");
            });

            function saveCoverLetter() {
                // Fetch the elements first
                const userIdElem = document.getElementById("userId");
                const outputTextElem = document.getElementById("output-text");
                const jobTitleElem = document.getElementById("job-title");
                const companyNameElem = document.getElementById("company-name");

                // Log elements for debugging
                console.log("userIdElem:", userIdElem);
                console.log("outputTextElem:", outputTextElem);
                console.log("jobTitleElem:", jobTitleElem);
                console.log("companyNameElem:", companyNameElem);

                // Check if any of the elements are null
                if (userIdElem && outputTextElem && jobTitleElem && companyNameElem) {
                    // Now fetch the values
                    const userId = userIdElem.value;
                    const documentName = 'Cover Letter (Cover Letter Builder)';
                    const documentContent = outputTextElem.value;
                    const documentType = 'Cover Letter (Cover Letter Builder)';
                    const jobTitle = jobTitleElem.value;
                    const companyName = companyNameElem.value;

                    // Make the fetch request to save the document
                    fetch('/save_document', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            user_id: userId,
                            document_name: documentName,
                            document_content: documentContent,
                            document_type: documentType,
                            job_title: jobTitle,  // Include job title
                            company_name: companyName,  // Include company name
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.message) {
                                alert(data.message);
                            } else {
                                alert('Error: ' + data.error);
                            }
                        })
                        .catch(error => {
                            alert('An error occurred: ' + error);
                        });
                } else {
                    alert("One or more elements are missing!");
                }
            }

        </script>
</body>

</html>