<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile | myCareerMax</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function updateLabel(input) {
            var fileName = input.files[0].name;
            document.getElementById('fileInputLabel').textContent = fileName;
        }
    </script>
    <style>
        /* Set the text color to white for the entire page */
        body {
            background-image: radial-gradient(circle, #b700ff, #3776ff);
            color: white;
        }

        /* Style the specific container */
        .container.mt-5 {
            color: black;
            /* Text color inside the container */
            background-color: white;
            /* Background color of the container */
            border-radius: 10px;
            /* Rounded corners */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            /* Box shadow */
            padding: 20px;
            /* Add some padding for spacing */
        }

        .form-control {
            border-radius: 5px;
            /* Adjust as needed */
            /* Bootstrap already has a box-shadow class `shadow-sm`, but you can customize here if needed */
        }

        .btn-primary {
            border-radius: 5px;
            /* Rounded corners for the button */
            /* Additional button styling if needed */
        }

        /* Center the file input button */
        .custom-file-input {
            text-align: center;
        }

        /* Style for the label */
        .custom-file-label {
            text-align: left;
        }

        button .material-symbols-outlined {
            position: relative;
            top: 5px;
            /* Adjust the top position as needed */
        }

        button .btn-secondary {
            position: relative;
            top: -20px;
            /* Adjust the top position as needed */
        }

        #preferences-container button {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-top: 40px;
            /* Adjust the margin-top value as needed */
        }
    </style>
    <!-- Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.mycareermax.com" style="color: #003c86;">myCareerMax.com</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if show_upgrade %}
                <li class="nav-item">
                    <a class="nav-link" href="/subscription"
                        style="background-color: green; border-radius: 5px; color: white; padding: 5px; display: inline-block; text-decoration: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
                        <strong>UPGRADE</strong>
                    </a>
                </li>
                {% endif %}
                <!-- Existing dropdown for the username -->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" href="#" id="navbarDropdown" role="button" style="color: #003c86;">
                        {% if current_user.is_authenticated %}
                        <span id="username-placeholder">Welcome</span> <!-- Generic welcome message -->
                        {% else %}
                        <span id="username-placeholder">Login Here</span>
                        {% endif %}
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        {% if current_user.is_authenticated %}
                        <!-- Display these links only if the user is logged in -->
                        <a class="dropdown-item" href="/logout" style="color: #0d00ff;">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/myprofile" style="color: #0d00ff;">My Profile</a>
                        {% if has_subscription %}
                        <a class="dropdown-item" href="https://billing.stripe.com/p/login/14k9CvcZx9NrdhK3cc"
                            style="color: #0d00ff;">Manage
                            Subscription</a>{% endif %}
                        <a class="dropdown-item" href="/delete_account" style="color: #0d00ff;">Delete Account</a>
                        {% else %}
                        <!-- Display only the Login link if the user is not logged in -->
                        <a class="dropdown-item" href="/login" style="color: #0d00ff;">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!-- Tools Dropdown -->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" href="#" id="toolsDropdown" role="button" style="color: #003c86;">
                        Tools
                    </a>
                    <div aria-labelledby="toolsDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="/resume-report" style="color: #003c86;">Resume Report</a>
                        <a class="dropdown-item" href="/resume-builder" style="color: #003c86;">Resume Builder</a>
                        <a class="dropdown-item" href="/cover-letter-generator" style="color: #003c86;">Cover Letter
                            Generator</a>
                        <a class="dropdown-item" href="/interview-prep" style="color: #003c86;">Interview Prep</a>
                        <a class="dropdown-item" href="/careerbot" style="color: #003c86;">Career Coach</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search" style="color: #003c86;">AI Job Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" style="color: #003c86;">myDashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center mt-3" style="margin-bottom: 20px;"> <!-- Added margin-bottom here -->
        <button type="button" class="btn-lg btn-success"><a href="/dashboard"
                style="color: white; cursor: pointer;"><span class="material-symbols-outlined">
                    arrow_back_ios
                </span>Back
                to Dashboard</a></button>
    </div>
    {% if has_subscription %}
    <div style="text-align:center;">
        <a href="https://billing.stripe.com/p/login/14k9CvcZx9NrdhK3cc" style="
                                    background: linear-gradient(to right, #001eff, #1fc749);
                                    border-radius: 2px;
                                    padding: 10px 20px;
                                    color: white;
                                    font-weight: bold;
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                    position: relative;
                                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                                                 0 2px 2px rgba(0, 0, 0, 0.3),
                                                 0 4px 4px rgba(0, 0, 0, 0.4),
                                                 0 8px 8px rgba(0, 0, 0, 0.5);
                                  ">
            Manage Active Subscription
        </a>
    </div>
    {% endif %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!-- First Form: Resume Upload -->
                <form method="POST" enctype="multipart/form-data" action="/myprofile_resume_upload">
                    <div class="form-group text-center">
                        <label for="docx_file" class="d-block">Upload a .DOCX File of your Resume</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input mx-auto" name="docx_file" id="docx_file"
                                accept=".docx" required onchange="updateLabel(this)">
                            <label class="custom-file-label" style="color: gray;" for="docx_file"
                                id="fileInputLabel"><span class="material-symbols-outlined">
                                    upload_file
                                </span> Select Resume and Upload</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-lg btn-primary"><span class="material-symbols-outlined">
                                upload_file
                            </span> Upload</button>
                    </div>
                </form>
                <!-- Display Active Resume -->
                <div class="text-center" style="color: green;">
                    <p>Active Resume: {{ most_recent_filename or '' }}</p>
                </div>
                <hr style="height: 2px; background-color: black; border: none;">
                <div style="text-align: center; margin-bottom: 20px;"> <!-- Center align and add bottom margin -->
                    <img src="/static/images/mycareermax_resume.svg" alt="myCAREERMAX Resume" class="icon-shadow"
                        width="250" height="50">
                </div>
                <p style="text-align: center;">View, Print, or Share your myCAREERMAX Resume</p>

                <div style="text-align: center;">
                    <a href="/view-resume" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #5900ff;        
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.6);
        font-weight: bold;
        text-transform: uppercase;
    ">
                        <span class="material-symbols-outlined" style="font-size: 50px;">
                            <!-- Adjust the font size here -->
                            export_notes
                        </span>
                    </a>
                </div>



                <hr style="height: 2px; background-color: black; border: none;">

                <!-- Edit Preferences button-->
                <div id="preferences-container" style="margin-bottom: 20px;"> <!-- Added margin-bottom here -->
                    <button type="button" id="edit-button" class="btn-lg btn-dark">
                        <span class="material-symbols-outlined">menu_open</span>
                        Edit Preferences
                    </button>
                </div>

                <!-- Edit form (outside any other form) -->
                <form id="edit-form" method="post" class="mb-3">
                    <input type="hidden" id="userId" name="user_id" value="{{ user_id }}">

                    <!-- Full Name -->
                    <div class="form-group" style="margin-top: 20px;"> <!-- Added margin-top here -->
                        <label for="full-name-edit">Full Name:</label>
                        <input type="text" id="full-name-edit" name="full_name" class="form-control shadow-sm">
                    </div>

                    <!-- Most Recent Position Held -->
                    <div class="form-group">
                        <label for="recent-position-edit">Most Recent Position Held:</label>
                        <input type="text" id="recent-position-edit" name="recent_position"
                            class="form-control shadow-sm">
                    </div>

                    <!-- Desired Job Title -->
                    <div class="form-group">
                        <label for="desired-job-title-edit">Desired Job Title:</label>
                        <input type="text" id="desired-job-title-edit" name="desired_job_title"
                            class="form-control shadow-sm">
                    </div>

                    <!-- Desired Job Location -->
                    <div class="form-group">
                        <label for="desired-job-location-edit">Desired Job Location (Nearest Major City):</label>
                        <input type="text" id="desired-job-location-edit" name="desired_job_location"
                            class="form-control shadow-sm">
                    </div>

                    <!-- Desired Work Type -->
                    <div class="form-group">
                        <label for="desired-work-type-edit">Desired Work Type:</label>
                        <select id="desired-work-type-edit" name="desired_work_type" class="form-control shadow-sm">
                            <option value="Remote">Remote</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="In-Office">In-Office</option>
                        </select>
                    </div>

                    <!-- Desired Compensation/Year -->
                    <div class="form-group">
                        <label for="desired-compensation-edit">Desired Compensation/Year:</label>
                        <select id="desired-compensation-edit" name="desired_compensation"
                            class="form-control shadow-sm">
                            <option value="50000-75000">$50,000-$75,000</option>
                            <option value="75000-100000">$75,000-$100,000</option>
                            <option value="100000-125000">$100,000-$125,000</option>
                            <option value=">125000">>$125,000</option>
                        </select>
                    </div>

                    <!-- Job Alert Email Notifications -->
                    <div class="form-group">
                        <label>Job Alert Email Notifications:</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="job_alert_notifications"
                                    id="jobAlertYes" value="Yes">
                                <label class="form-check-label" for="jobAlertYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="job_alert_notifications"
                                    id="jobAlertNo" value="No">
                                <label class="form-check-label" for="jobAlertNo">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submit-button">
                        <button type="button" id="delete-button" class="btn btn-danger">Clear</button>
                    </div>

                    <!-- Placeholders for messages -->
                    <div id="submit-message" style="margin-bottom: 40px;"></div>
                    <div id="clear-message" style="margin-bottom: 40px;"></div>
                </form>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            // Handle the Submit button click
            $('#submit-button').click(function () {
                // Display a message
                $('#submit-message').text('Saved');
                $('#clear-message').text(''); // Clear the other message if it's displayed
            });

            // Handle the Delete button click
            $('#delete-button').click(function () {
                // Display a message
                $('#clear-message').text('Cleared. Refresh Page To Update');
                $('#submit-message').text(''); // Clear the other message if it's displayed
            });
        });

        $(document).ready(function () {
            const editButton = $("#edit-button");
            const deleteButton = $("#delete-button");
            const editForm = $("#edit-form");
            let globalUserId = $("#userId").val();  // Use a global variable to store user_id

            console.log("Initial User ID:", globalUserId);

            editForm.hide();

            function fetchUserDetails() {
                console.log("User ID in fetchUserDetails:", globalUserId);

                if (!globalUserId) {
                    console.error("User ID is empty when fetching user details");
                    return;
                }

                $.get(`/get-user-details?user_id=${globalUserId}`, function (response) {
                    if (response.success) {
                        // Update the form fields with the fetched data
                        $("#full-name-edit").val(response.user.full_name);
                        $("#recent-position-edit").val(response.user.recent_position);
                        $("#desired-job-title-edit").val(response.user.desired_job_title);
                        $("#desired-job-location-edit").val(response.user.desired_job_location);
                        $("#desired-work-type-edit").val(response.user.desired_work_type);
                        $("#desired-compensation-edit").val(response.user.desired_compensation);
                        $("input[name='job_alert_notifications'][value='" + response.user.job_alert_notifications + "']").prop("checked", true);
                    } else {
                        console.error('Error fetching user details:', response.error);
                    }
                });
            }

            editForm.submit(async function (event) {
                event.preventDefault();
                let formData = $(this).serialize();

                console.log("Serialized Form Data:", formData);
                formData += '&user_id=' + globalUserId;

                console.log("Form Data:", formData);

                if (!globalUserId) {
                    console.error("User ID is empty on form submit");
                    return;
                }

                const userDoesExist = await userExists(globalUserId);
                const url = userDoesExist ? "/update-user-details" : "/create_user_details";

                $.post(url, formData, function (response) {
                    console.log("Response from server:", response);
                    if (response.success) {
                        console.log("Operation successful.");
                        if (!globalUserId && response.user_id) {
                            // Update the global user ID after successful creation
                            globalUserId = response.user_id;
                        }
                        // Additional logic for handling response
                    } else {
                        console.error("Operation failed:", response.error);
                    }
                });
            });

            function userExists(userId) {
                console.log("User ID in userExists:", userId);

                return new Promise((resolve, reject) => {
                    if (!userId) {
                        console.error("User ID is empty when checking if user exists");
                        resolve(false);
                        return;
                    }

                    $.ajax({
                        url: `/get-user-details?user_id=${userId}`,
                        type: 'GET',
                        success: function (response) {
                            resolve(response.success);
                        },
                        error: function () {
                            resolve(false);
                        }
                    });
                });
            }

            editForm.submit(async function (event) {
                event.preventDefault();
                console.log("User ID before form submit:", globalUserId);

                let formData = $(this).serialize();
                formData += '&user_id=' + globalUserId;

                console.log("Form Data:", formData);

                if (!globalUserId) {
                    console.error("User ID is empty on form submit");
                    return;
                }

                const userDoesExist = await userExists(globalUserId);
                const url = userDoesExist ? "/update-user-details" : "/create_user_details";

                $.post(url, formData, function (response) {
                    console.log("Response from server:", response);
                    // Handle the response...
                });
            });

            editButton.click(function () {
                fetchUserDetails();
                editForm.show();
                editButton.hide();
                deleteButton.show();
            });



            function deleteUserDetails() {
                console.log("User ID in deleteUserDetails:", globalUserId);

                if (!globalUserId) {
                    console.error("User ID is empty in deleteUserDetails");
                    return;
                }

                $.ajax({
                    url: "/delete_user_details",  // Make sure this matches the Flask route exactly
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify({ user_id: globalUserId }),
                    success: function (response) {
                        if (response.success) {
                            console.log("User details deleted successfully.");

                            // Clear the globalUserId and any other related state here
                            globalUserId = null;
                            // Reset form fields or other UI elements as needed
                            resetFormFields();

                            // Optionally, redirect the user or update the UI to reflect the deletion
                            // window.location.href = '/some-other-page';
                            // or
                            // updateUIAfterDeletion();
                        } else {
                            console.error("Failed to delete user details:", response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error in deletion request:", error);
                    }
                });
            }

            function resetFormFields() {
                $("#edit-form")[0].reset();
                // Reset other UI elements if necessary
            }

            // Function to update the UI after deletion (if needed)
            function updateUIAfterDeletion() {
                // Implement UI updates here
                // For example, hide certain elements, show success messages, etc.
            }



            deleteButton.click(function () {
                if (confirm("Are you sure you want to delete your details?")) {
                    // Send an AJAX request to delete user details
                    $.ajax({
                        url: '/delete_user_details',
                        type: 'DELETE',
                        contentType: 'application/json',
                        data: JSON.stringify({ user_id: globalUserId }),
                        success: function (response) {
                            if (response.success) {
                                // Show a confirmation popup
                                alert("User details deleted successfully.");

                                // Optionally, update the UI or redirect the user
                                // Reset form fields or other UI elements as needed
                                // ...
                            } else {
                                // Handle error case
                                alert("Failed to delete user details: " + response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            // Handle request error
                            alert("An error occurred: " + error);
                        }
                    });
                }
            });


            fetchUserDetails();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer>
        $(document).ready(function () {
            const user_id = $("#userId").val(); // Get the user_id from the hidden input
            $.get(`/get-username?user_id=${user_id}`, function (response) {
                if (response.success) {
                    const usernamePlaceholder = document.getElementById("username-placeholder");
                    usernamePlaceholder.textContent = "Hello, " + response.username;
                } else {
                    console.error('Error fetching username:', response.error);
                }
            });
        });
    </script>
</body>

</html>